/* global styles for this project. Prefix "gg" for global,
 "ll" for local (declared within the component) */

body{
    background-color: #212530;
}
.gg-c-1{
    background-color: #D4D3FF;
}
.gg-c-2{
    background-color: #212530;
}
.gg-c-day1{
    background-color: #DFD;
}
.gg-c-day2{
    background-color: #DDD;
}
.gg-c-button{
    background-color: #B6B5FF;
}
.gg-c-button:hover{
    background-color: #BCBBFF;
}
.gg-c-task1{
    background-color: #AEACFF;
}
.gg-c-task2{
    background-color: #AEFFAC;
}

.ggshadow{
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.ggshadowborder{
    box-shadow:  0px 0px 0px 2px #8D8D8D,2px 4px 4px rgba(0, 0, 0, 0.1);
}
.ggshadowtext{
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

