/* global styles for this project. TODO: prefix "gg" for global,
 "ll" for local (declared within the component) */

body{
    background-color: #212530;
}
.colorscheduler1{
    background-color: #D4D3FF;
}
.colorscheduler2{
    background-color: #212530;
}
.colorgreen{
    background-color: #DBFFD8;
}
.colorbutton{
    background-color: #B6B5FF;
}
.colortaskfuture{
    background-color: #AEACFF;
}
.colortasktick{
    background-color: #AEFFAC;
}

.shadow{
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.shadowborder{
    box-shadow:  0px 0px 0px 2px #8D8D8D,2px 4px 4px rgba(0, 0, 0, 0.1);
}
.shadowtext{
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}